@use './variables.scss';

// Start of the styling for the Header
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: variables.$secondaryColor;
  color: variables.$primaryTextColor;
  padding: 10px 0;
  box-shadow: 0px 7px 17px -2px variables.$headerBoxShadowColor;
  margin-bottom: 15px;
  z-index: 1000; /* Ensures the header stays on top */
  
  .headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;

    img {
      width: 119px;
    }

    // Start of the styling for the NavBar
    nav {
      transition: all 0.5s ease-in-out;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
      }
    
      .navLinks {
        li {
          margin: 0 15px;
        }
    
        a {
          box-shadow: variables.$buttonsBoxShadow;
          background-color: variables.$primaryColor;
          border-radius: 18px;
          color: variables.$primaryTextColor;  
          text-decoration: none;
          padding: 10px;
          text-align: center;
          transition: variables.$buttonsTransition;
          white-space: nowrap;
    
          &:hover {
            box-shadow: 0 0 5px #01274D,
            0 0 25px cyan, 0 0 50px #01274D,
            0 0 100px cyan, 0 0 200px #01274D;
            cursor: pointer;
          }
        }
      }
    }
    // End of the styling for the NavBar
  }
}
// End of the styling for the Header